aiodns==2.0.0
aiohttp==3.6.2
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.2.0
beautifulsoup4==4.8.1
bs4==0.0.1
cchardet==2.1.4
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
Cython==0.29.14
idna==2.8
multidict==4.5.2
outcome==1.0.1
pycares==4.2.0
pycparser==2.19
requests==2.22.0
sniffio==1.1.0
sortedcontainers==2.1.0
soupsieve==1.9.4
trio==0.13.0
urllib3==1.25.6
uvloop==0.13.0
yarl==1.3.0
